astroid==3.3.6
black==24.10.0
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.1
cowsay==6.1
cycler==0.12.1
dill==0.3.9
fonttools==4.55.0
idna==3.10
isort==5.13.2
Jinja2==3.1.4
kiwisolver==1.4.7
MarkupSafe==3.0.2
matplotlib==3.9.2
mccabe==0.7.0
Mesa==3.0.3
multiprocess==0.70.17
mypy-extensions==1.0.0
networkx==3.4.2
numpy==2.1.3
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
pycodestyle==2.12.1
pylint==3.3.2
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
SALib==1.5.1
scipy==1.14.1
six==1.16.0
soil==0.20.8
tomlkit==0.13.2
tqdm==4.67.0
tsih==0.1.9
tzdata==2024.2
urllib3==2.2.3
